* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
}

.successContainer {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.success {
    padding: .5rem;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
}

.check_icon {
    width: 64px;
    height: 64px;
}

.successHeader {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-block: 2rem;
}

.successMessage {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    box-sizing: border-box;
}

#subscriberEmail {
    font-weight: bold;
}

.button {
    background: #242742;
    width: 327px;
    height: 56px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin: 20rem 0 1rem 0;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: linear-gradient(
        204.47deg,
        #ff6a3a 0%,
        #ff527b 40%);
    box-shadow: 0px 16px 32px 0px #ff615580;
}

@media only screen and (min-width:768px) {

    .successContainer {
        background: #36384e;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .success {
        width: 504px;
        height: 520px;
        background: white;
        padding: 4rem;
        border-radius: 2rem;
        margin-top: 1rem;
        position: relative;
    }

    .successHeader {
        font-size: 56px;
        line-height: 56px;
        margin-bottom: 2rem;
    }

    .successMessage {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .button {
        width: 80%;
        position: absolute;
        bottom: 3rem;
        font-size: 1.25rem;
        line-height: 2rem; 
    }
}