body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #242742;
    margin: 0;
    padding: 0;
}

.mobile_header_img {
    display: block;
    width: 100%;
}

.desktop_header_img {
    display: none;
}

.sign_up_header{
    font-size: 40px;
    padding-top: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.sign_up {
    display: flex;
    flex-direction: column;
    padding-inline: 3rem;
}

.sign_up_info {
    width: 100%;
}

ul {
    padding-left: 0;
}

.sign_up_info_list {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    line-height: 24px;
    list-style: none;
}

.sign_up_list_icon {
    width: 21px;
    height: 21px;
}

.form {
    width: 100%;
}

.emailLabel {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5rem;
}

label {
    font-weight: bold;
}

input {
    padding: 1.2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: #ccc;
}

.button {
    background: #242742;
    width: 327px;
    height: 56px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 1.2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: linear-gradient(
        204.47deg,
        #ff6a3a 0%,
        #ff527b 40%);
    box-shadow: 0px 16px 32px 0px #ff615580;
}

.showError {
    display: block;
    color: red;
    font-size: 14px;
}

.noError {
    display: none;
}

.error {
    border: 1px solid red;
    background: #fed2cf;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-block: 1rem;
    padding-top: 0;
}
.attribution a { color: #ff527b; }

@media only screen and (min-width: 768px) {
    .desktopBody {
        background: #36384e;
    }

    .desktop_header_img {
        display: block;
        margin-left: 2rem;
    }

    .mobile_header_img {
        display: none;
    }

    .sign_up_container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background: white;
        width: 928px;
        height: 641px;
        margin: auto;
        border-radius: 2rem;
        padding-inline: 1rem;
        margin-top: 1.5rem;
    }

    .sign_up_header {
        font-size: 56px;
        margin-bottom: .5rem;
    }

    .form {
        margin-top: 2rem;
        width: 95%;
    }

    .attribution { 
        color: white;
        padding-top: 1rem;
    }
    .attribution a { color: #ff527b; }
}