.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #242742;
    margin: 0;
    padding: 0;
}

.mobile_header_img {
    display: block;
    width: 100%;
}

.desktop_header_img {
    display: none;
}

.sign_up_header{
    margin-top: 2.5rem;
    font-size: 40px;
}

.sign_up {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
}

.sign_up_info {
    margin-bottom: 2rem;
    width: 100%;
}

.sign_up_list_header {
    margin-bottom: 1.5rem;
    line-height: 24px;
}

.sign_up_info_list {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    line-height: 24px;
    list-style: none;
    align-items: center;
}

.sign_up_list_icon {
    width: 21px;
    height: 21px;
}

.form {
    width: 100%;
}

.emailLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    font-weight: bold;
}

input {
    padding: 1.2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: #ccc;
}

.button {
    padding: 1.2rem;
    border-radius: 10px;
    color: white;
    background-color: #242742;
    margin-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.showError {
    display: block;
    color: red;
    font-size: 14px;
}

.noError {
    display: none;
}

.error {
    border: 1px solid red;
    background: #FF6155;
}